/*
.project
.classpath
.project
build/
.gradle/
.idea/
.DS_Store
.nb-gradle
*.iml
classes/
webapps/
out/

!doc/
!client/
!qogirAPI/
!miniodemo/


!src/
!lib/
!libs/
!.gitignore
!build.gradle
!gradle.properties
!WebContent/
!web/
!file/*

